<article class="row location" ng-model="location">
  <div class="col s12 hide-on-med-and-up sm-location">
    <div>{{location.stadium}}</div>
    <div>
      <i class="fa fa-sun-o"></i>
      {{location.weather.cast}},
      {{location.weather.temp}} | wind: {{location.weather.wind}}
    </div>
  </div>
  <div class="col m6 city hide-on-small-only">
    <div>{{location.stadium}}</div>
    <div>Attendance: {{location.occupancy.attendance}} | Capacity: {{location.occupancy.percent}}</div>
  </div>
  <div class="col m6 weather hide-on-small-only">
    <div>
      <i class="fa fa-sun-o"></i>
      {{location.weather.cast}},
      {{location.weather.temp}}
    </div>
    <span>wind: {{location.weather.wind}} | {{location.weather.humidity}} humidity</span>
  </div>
</article>