<section class="teamStats container">
  <article class="row">
    <div ng-stat-table class="col s12 l6" collection="table.teamPassing"></div>
    <div ng-stat-table class="col s12 l6" collection="table.teamRushing"></div>
  </article>
  <article class="row">
    <div ng-stat-table class="col s12 l6" collection="table.teamDefense"></div>
    <div ng-stat-table class="col s12 l6" collection="table.teamPenalities"></div>
  </article>
</section>

<section class="playerStats container">
  <article class="row">
    <div ng-stat-table class="col s12" collection="table.passing"></div>
  </article>
  <article class="row">
    <div ng-stat-table class="col s12 m6" collection="table.rushing"></div>
    <div ng-stat-table class="col s12 m6" collection="table.receiving"></div>
  </article>
</section>