<header ng-header class="container"></header>
<main>
  <section ng-location class="container"></section>
  <nav class="container">
    <div class="row dropdown">
      <div class="col s12">
        <div class="cover hide-on-med-and-up"><i class="fa {{icon}}"></i>{{content}}</div>
        <div class="tab col s12 m4"
             ng-click="setContent('Team Stats', 'team')"
             ng-class="{active: content === 'Team Stats'}"
            ><i class="fa fa-users"></i>Team Stats</div>
        <div class="tab col s12 m4"
             ng-click="setContent('Position Stats', 'pos')"
             ng-class="{active: content === 'Position Stats'}"
            ><i class="fa fa-user"></i>Position Stats</div>
        <div class="tab col s12 m4"
             ng-click="setContent('Play by Play', 'play')"
             ng-class="{active: content === 'Play by Play'}"
             ><i class="fa fa-tasks"></i>Play by Play</div>
      </div>
    </div>
  </nav>
  <ng-stats show="content"></ng-stats>
  <section ng-play-by-play class="container" ng-show="content === 'Play by Play'"></section>
</main>