<h6 class="title">{{collection.title}}</h6>
<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th ng-repeat="(i, th) in collection.columns"
          ng-click="changeSorting(i)"
          ng-class="{active: collection.sort.col === th}">
          {{th}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in collection.set | orderBy:collection.sort.stat: collection.sort.desc">
      <td ng-repeat="s in t">{{ t[collection.stat[$index]] }}</td>
    </tr>
  </tbody>
</table>